body {
    width: 80vw;
    margin: 0 auto;
    padding-top: 45px;
    font-family: 'Times New Roman', Times, serif;
    
}

/*headerio pradzia */
.top_header {
    margin: auto;
    display: flex;
    justify-content: space-between;
}